<h1>Listing Holdings</h1>

<table>
	<tr>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Description</th>
	</tr>

<%# @holding.each do |holding| %>
	<tr>
		<td><%#= holding.address %></td>
		<td><%#= holding.city %></td>
		<td><%#= holding.state %></td>
		<td><%#= holding.zip %></td>
		<td><%#= holding.description %></td>
<%# end %>
</table>